extends ./layout/index

block contenido
    h1(class="mt-5 text-center")  #{pagina}
                //- p= JSON.stringify(viajes)
    main.container.mt-5 
        .row.proximos-viajes
            include ./layout/bloque_viajes


    